
#footer .copyright {
    text-align: center;
    float: left;
    color: #47536e;
  }
#footer{

  color: white;
  background-color:#e6e9f0;
}
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
      padding: 5px 0;
    }
  }